In [25]:
# Create a SQlite database connection to a database that resides in the memory.

import sqlite3

conn = sqlite3.connect(':memory:') # connect to a database in the memory

cursor = conn.cursor()             # instantiate a cursor obj

print("Connection to a Database in Memory: DONE \n")
 
conn = conn.execute("select sqlite_version();")

print("SQlite Database Version is:  ", conn.fetchall(),)

Connection to a Database in Memory: DONE

SQlite Database Version is:   [('3.33.0',)]

In [4]:
#Create a database connection and a cursor to execute queries.

import sqlite3
import csv
conn = sqlite3.connect('medic1.db')
cursor = conn.cursor()

print("MEDIC1 Database created")

MEDIC1 Database created

In [7]:
# Executes a query that creates a table

cursor.execute(''' CREATE TABLE IF NOT EXISTS hospitals (
        HOSPITAL_ID INT NOT NULL UNIQUE,
        HOSPITAL_NAME TEXT NOT NULL,
        BED_COUNT INT);''')

conn = conn.execute("PRAGMA table_info('hospitals');")

print("\t HOSPITAL TABLE STRUCTURE \n")

for x in conn.fetchall():
    print(x)

	 HOSPITAL TABLE STRUCTURE

(0, 'HOSPITAL_ID', 'INT', 1, None, 0)
(1, 'HOSPITAL_NAME', 'TEXT', 1, None, 0)
(2, 'BED_COUNT', 'INT', 0, None, 0)

In [9]:
cursor.execute(''' CREATE TABLE IF NOT EXISTS doctors (
        DOCTOR_ID INT NOT NULL UNIQUE,
        DOCTOR_NAME TEXT NOT NULL,
        DOCTOR_EMAIL TEXT NOT NULL UNIQUE,
        HOSPITAL_ID INT NOT NULL UNIQUE,
        DATE_JOINED DATE, 
        SPECIALITY TEXT NOT NULL,
        SALARY INT NOT NULL,
        EXPERIENCE DATE)''')

conn = conn.execute("PRAGMA table_info('doctors');")

print("\t HOSPITAL TABLE STRUCTURE \n")

for x in conn.fetchall():
    print(x)

	 HOSPITAL TABLE STRUCTURE

(0, 'DOCTOR_ID', 'INT', 1, None, 0)
(1, 'DOCTOR_NAME', 'TEXT', 1, None, 0)
(2, 'DOCTOR_EMAIL', 'TEXT', 1, None, 0)
(3, 'HOSPITAL_ID', 'INT', 1, None, 0)
(4, 'DATE_JOINED', 'DATE', 0, None, 0)
(5, 'SPECIALITY', 'TEXT', 1, None, 0)
(6, 'SALARY', 'INT', 1, None, 0)
(7, 'EXPERIENCE', 'DATE', 0, None, 0)

In [13]:
# Loads a Hospitals csv file into a sqlite table.

conn = sqlite3.connect('medic1.db')
cursor = conn.cursor()

a_file = open("C:\\Users\Emily Kimani\Desktop\Adv_Python\SQlite3\Hospitals.csv")
rows = csv.reader(a_file)
next(rows, None)    # skip the headers
cursor.executemany("INSERT INTO hospitals VALUES (?,?,?)", rows)


cursor.execute("SELECT * FROM hospitals")


print("\t HOSPITAL INFORMATION TABLE \n")
medic = cursor.fetchall()
for medics in medic:
    print(medics)
    
conn.commit()

IntegrityError: UNIQUE constraint failed: hospitals.HOSPITAL_ID

In [15]:
# Loads a Doctors csv file into a sqlite table.

conn = sqlite3.connect('medic1.db')
cursor = conn.cursor()

a_file = open("C:\\Users\Emily Kimani\Desktop\Adv_Python\SQlite3\Doctors.csv")
rows = csv.reader(a_file)
next(rows, None)    # skip the headers
cursor.executemany("INSERT INTO doctors VALUES (?,?,?,?,?,?,?,?)", rows)


cursor.execute("SELECT * FROM doctors")

print("\t DOCTORS INFORMATION TABLE \n")

medic = cursor.fetchall()
for medics in medic:
    print(medics)
    
conn.commit()

	 DOCTORS INFORMATION TABLE

(100, 'Antony Willies', 'antonyw@yahoo.com', 1, '7/7/2018', 'Family medicine', 120000, 8)
(121, 'Emily Kimani', 'emilyw@hotmail.com', 5, '9/6/2000', 'Gynaecologist', 130000, 15)
(143, 'Leeny  Jones', 'leenyj@outlook.com', 4, '11/18/2010', 'Dermatologist', 135000, 5)
(156, 'Medrine Njuguna', 'mednju@gmail.com', 3, '5/24/2015', 'Neurosurgeon', 180000, 13)
(234, 'Mary Walker', 'marywalker@yahoo.com', 2, '1/24/2006', 'Internal Medicine', 145000, 10)

In [16]:
cursor.execute('''SELECT * FROM hospitals INNER JOIN doctors ON hospitals.hospital_id = doctors.hospital_id''')

#print(cursor.fetchall())

medic = cursor.fetchall()

for medics in medic:
    print(medics)

(1, 'Kennestone Hospital', 300, 100, 'Antony Willies', 'antonyw@yahoo.com', 1, '7/7/2018', 'Family medicine', 120000, 8)
(2, 'Kiambu District Hospital', 100, 234, 'Mary Walker', 'marywalker@yahoo.com', 2, '1/24/2006', 'Internal Medicine', 145000, 10)
(3, 'Marietta City Hospital', 200, 156, 'Medrine Njuguna', 'mednju@gmail.com', 3, '5/24/2015', 'Neurosurgeon', 180000, 13)
(4, 'Nyeri Provicial Hospital', 150, 143, 'Leeny  Jones', 'leenyj@outlook.com', 4, '11/18/2010', 'Dermatologist', 135000, 5)
(5, 'Pandya Regional Hospital', 200, 121, 'Emily Kimani', 'emilyw@hotmail.com', 5, '9/6/2000', 'Gynaecologist', 130000, 15)

In [17]:
cursor.execute('''SELECT doctors.*,hospitals.hospital_name,hospitals.bed_count
            FROM doctors, hospitals
            WHERE doctors.hospital_id = hospitals.hospital_id''')

#print(cursor.fetchall())

medic = cursor.fetchall()

for medics in medic:
    print(medics)

(100, 'Antony Willies', 'antonyw@yahoo.com', 1, '7/7/2018', 'Family medicine', 120000, 8, 'Kennestone Hospital', 300)
(121, 'Emily Kimani', 'emilyw@hotmail.com', 5, '9/6/2000', 'Gynaecologist', 130000, 15, 'Pandya Regional Hospital', 200)
(143, 'Leeny  Jones', 'leenyj@outlook.com', 4, '11/18/2010', 'Dermatologist', 135000, 5, 'Nyeri Provicial Hospital', 150)
(156, 'Medrine Njuguna', 'mednju@gmail.com', 3, '5/24/2015', 'Neurosurgeon', 180000, 13, 'Marietta City Hospital', 200)
(234, 'Mary Walker', 'marywalker@yahoo.com', 2, '1/24/2006', 'Internal Medicine', 145000, 10, 'Kiambu District Hospital', 100)

In [18]:
# Add a record
conn = sqlite3.connect('medic1.db')
cursor = conn.cursor()

cursor.execute('''INSERT INTO hospitals(HOSPITAL_ID,HOSPITAL_NAME,BED_COUNT) 
            VALUES(6, 'Acworth Hospital', 200)''')

cursor.execute("SELECT * FROM hospitals")

print(cursor.fetchall())

[(1, 'Kennestone Hospital', 300), (2, 'Kiambu District Hospital', 100), (3, 'Marietta City Hospital', 200), (4, 'Nyeri Provicial Hospital', 150), (5, 'Pandya Regional Hospital', 200), (100, 'Emerson Hospital', 400), (6, 'Acworth Hospital', 200)]