In [ ]:
# Create a SQlite database connection to a database that resides in the memory.

import sqlite3

conn = sqlite3.connect(':memory:') # connect to a database in the memory

cursor = conn.cursor()             # instantiate a cursor obj

print("Connection to a Database in Memory: DONE \n")
 
conn = conn.execute("select sqlite_version();")

print("SQlite Database Version is:  ", conn.fetchall(),)

In [ ]:
#Create a database connection and a cursor to execute queries.

import sqlite3
import csv
conn = sqlite3.connect('medic1.db')
cursor = conn.cursor()

print("MEDIC1 Database created")

In [ ]:
# Executes a query that creates Hospital table

cursor.execute(''' CREATE TABLE IF NOT EXISTS hospitals (
        HOSPITAL_ID INT NOT NULL UNIQUE,
        HOSPITAL_NAME TEXT NOT NULL,
        BED_COUNT INT);''')

conn = conn.execute("PRAGMA table_info('hospitals');") # Display tabke structure

print("\t HOSPITAL TABLE STRUCTURE \n")

for x in conn.fetchall():
    print(x)

In [ ]:
# Executes a query that creates Doctors table

cursor.execute(''' CREATE TABLE IF NOT EXISTS doctors (
        DOCTOR_ID INT NOT NULL UNIQUE,
        DOCTOR_NAME TEXT NOT NULL,
        DOCTOR_EMAIL TEXT NOT NULL UNIQUE,
        HOSPITAL_ID INT NOT NULL UNIQUE,
        DATE_JOINED DATE, 
        SPECIALITY TEXT NOT NULL,
        SALARY INT NOT NULL,
        EXPERIENCE DATE)''')

conn = conn.execute("PRAGMA table_info('doctors');") # Display tabke structure

print("\t HOSPITAL TABLE STRUCTURE \n")

for x in conn.fetchall():
    print(x)

In [ ]:
# Loads a Hospitals csv file into a sqlite table.

conn = sqlite3.connect('medic1.db')
cursor = conn.cursor()

a_file = open("C:\\Users\Emily Kimani\Desktop\Adv_Python\SQlite3\Hospitals.csv")
rows = csv.reader(a_file)
next(rows, None)    # skip the headers
cursor.executemany("INSERT INTO hospitals VALUES (?,?,?)", rows)


cursor.execute("SELECT * FROM hospitals")


print("\t HOSPITAL INFORMATION TABLE \n")
medic = cursor.fetchall()
for medics in medic:
    print(medics)
    
conn.commit()

In [ ]:
# Loads a Doctors csv file into a sqlite table.

conn = sqlite3.connect('medic1.db')
cursor = conn.cursor()

a_file = open("C:\\Users\Emily Kimani\Desktop\Adv_Python\SQlite3\Doctors.csv")
rows = csv.reader(a_file)
next(rows, None)    # skip the headers
cursor.executemany("INSERT INTO doctors VALUES (?,?,?,?,?,?,?,?)", rows)


cursor.execute("SELECT * FROM doctors")

print("\t DOCTORS INFORMATION TABLE \n")

medic = cursor.fetchall()
for medics in medic:
    print(medics)
    
conn.commit()

In [ ]:
# Join Hospital Table to Doctors Table using the Hospital_ID

cursor.execute('''SELECT * FROM hospitals INNER JOIN doctors ON hospitals.hospital_id = doctors.hospital_id''')

medic = cursor.fetchall()

for medics in medic:
    print(medics)
    
conn.commit()

In [ ]:
cursor.execute('''SELECT doctors.*,hospitals.hospital_name,hospitals.bed_count
            FROM doctors, hospitals
            WHERE doctors.hospital_id = hospitals.hospital_id''')

#print(cursor.fetchall())

medic = cursor.fetchall()

for medics in medic:
    print(medics)

conn.commit()

In [ ]:
# Add a record

conn = sqlite3.connect('medic1.db')
cursor = conn.cursor()

cursor.execute('''INSERT INTO hospitals(HOSPITAL_ID,HOSPITAL_NAME,BED_COUNT) 
            VALUES(6, 'Acworth Hospital', 200)''')

cursor.execute("SELECT * FROM hospitals")

print(cursor.fetchall())

conn.commit()
conn.close()